:root{
    --primary-color: #222645;
    --secondary-color: #4FC3F7;
    --material-shaduw1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shaduw2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.metro{
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
    animation: stroke 15s infinite linear;
}

.tram, .metro{
    transition: var(--transition);
}

.tram:hover, .metro:hover{
    stroke-width: 10;
    stroke-dasharray: 0;
}

@keyframes stroke{
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: 1000;
    }
}

.info{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0.8rem;
    top: 5em;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.47);
    box-shadow: var(--material-shaduw2);
    width: 22em;
    overflow: hidden;
    justify-content: center;
    transition: all 2s linear;
}

.info h1{
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.7rem;
    background-color: var(--primary-color);
    color:white;
    border-bottom: solid 0.2rem var(--secondary-color);
}

.info p{
    padding: 0.7rem;
}

.info h3{
    padding: 0 0.7rem;
    opacity: 0.5;
    font-size: 1em;
    margin-bottom: 0.7rem;
    width: 100%;
    color: white;
}

.info .info-wiki{
    position: absolute;
    padding: 1rem;
    bottom: 1rem;
    box-shadow: var(--material-shaduw2);
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
}

.info .img-container{
    max-height: 67vh;
    overflow-y: scroll;
    padding: 0.7rem;
    width: 100%;
    position: relative
}

.info .img-container div{
    box-shadow: var(--material-shaduw1);
    margin-bottom: 3rem;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.info .img-container .loader{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color:var(--primary-color);
    animation: 1s loader linear forwards;
    border:none;
}

@keyframes loader{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(110%);
    }
}

.info .img-container .title{
    font-weight: bold;
    padding-bottom: 0;
}

.info .img-container .description{
    color: rgb(53, 53, 53);
}

.info .img-container .year{
    text-align: right;
    opacity: 0.4;
    padding-top: 0;
    font-size: 0.7em;
}
.info .img-container .photo{
    width: 100%;
    font-style: italic;
}



.indicator{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    border-radius: 0.2rem;
    padding: 2rem;
    justify-content: center;
    pointer-events: none;
}

.indicator p{
    font-size: 7vw;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.39);
}


.change-year-container{
    width: 100%;
    padding: 1rem;
}

.change-year-container button{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    transition: var(--transition);
}

.change-year-container button:hover{
    cursor: pointer;
    box-shadow: var(--material-shaduw2);
}


.change-year-container button.active{
    background-color: var(--secondary-color);
    box-shadow: var(--material-shaduw2);
}


/***************************STATES*********************************/
.inactive{
    display: none;
}

.active{
    display: block;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}