extends layout

block content
  h1 Move your mouse
  p(class="details")
  div
    p(class="text") images are retrieved
    img(class="loader", src="../images/loader.svg", alt="loader")
    img(class="placeholder")
